body {
    background-color: rgb(243, 232, 216);
}

.headers {
    width: 100vw;
    height: 100vh;
}

.headers {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/feast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 15%;
    background-color: rgba(220, 210, 195, 0.782);
  }

.header-content #header {
    font-size: 45px;
    font-family: times new roman, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: centre;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
