@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(243, 232, 216);
    margin: 0;
}

a {
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.headers {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Hero Image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/feast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: relative;
    text-align: center;
    align-items: center;
    background-color: rgba(218, 208, 192, 0.852);
    border-radius: 7px;
}

.header-content #header {
    font-size: 55px;
    font-family: 'Amatic SC', sans-serif;
    color: white;
    text-align: center;
    resize: both;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: white; 
    text-align: centre;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.index.introduction {
    color: white;
    background-color: rgb(205, 202, 177);
    text-align: center;
    font-size: 30px;
    font-family: 'Amatic SC', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    width: 91.7%;
    margin-left: 3%;
}

.index.breakfast-burrito {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 7px;
    width: 91.7%;
    height: 100%;
    margin-left: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/breakfast-burrito-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 50px;
}

.index.cauliflower-taco {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 7px;
    width: 91.7%;
    height: 100%;
    margin-left: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.eatfigsnotpigs.com/caribbean-inspired-cauliflower-tacos-with-mango-salsa/jamaican-jerk-cauliflower-tacos_0294/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index.bbq-chicken-nachos {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 7px;
    width: 91.7%;
    height: 100%;
    margin-left: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/37324.jpg?resize=1200:*);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.recipe-text {
    position: relative;
    text-align: center;
    align-items: center;
    width: 85%;
    background-color: rgba(218, 208, 192, 0.306)
}


#back-to-top {
    background-color: rgb(205, 202, 177);
    position: relative;
    left: 44%;
    padding: 10px;
    border-radius: 7px;
    margin-left: 7px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}